<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= select_tag "person[gender]", options_for_select(["male", "female"], @person.gender) %>
  </div>
  <div class="field">
    <%= f.label :father %><br />
    <%= f.collection_select :father_id, Person.men, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :mother %><br />
    <%= f.collection_select :mother_id, Person.women, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :partner %><br />
    <%= f.collection_select :partners, Person.all, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
