<%- content_for(:head) do -%>
<%= javascript_include_tag "protovis" -%>
<%- end -%>

<script type="text/javascript+protovis">

var person_id = <%= @person.id %>;
var people = <%= strip_tags( @person.ancestry.to_json ) %>;

/* Basic dimensions. */
var width = 700;
var height = 400;
var boxwidth = 120;
var boxheight = 60;
var padding = 30;

/* The root panel. */
var vis = new pv.Panel()
    .width(width)
    .height(height)
    .bottom(100);

var boxes = vis.add(pv.Panel)
    .data(people)
    .height(boxheight)
    .width(boxwidth)
    .top(function(p) {
      return (height / 2) 
          + ((boxheight + padding) * p.gen)
          - (boxheight / 2);
    })
    .left(function(p) {
      return boxwidth / 2 + padding 
          + ((boxwidth  + padding) * p.genindex)
          - (boxwidth  / 2);
    })
    .strokeStyle("#aaa")
    .fillStyle("#fff")
    .cursor("pointer")
    .title("Go to stanford.edu")
    .event("mouseover", function(p) self.status = "View "+p.name)
    .event("mouseout", function(p) self.status = "")
    .event("click", function(p) self.location = "/people/"+p.id);

boxes.anchor("center").add(pv.Label)
    .text(function (p) p.name);

vis.render();

</script>


<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Father:</b>
  <%= link_to(@person.father.name, @person.father) if @person.father %>
</p>

<p>
  <b>Mother:</b>
  <%= link_to(@person.mother.name, @person.mother) if @person.mother %>
</p>

<p>
  <b>Partners:</b>
  <% @person.partners.each do |person| %>
  <%=  link_to(person.name, person) %>
  <% end %>
</p>

<p>
  <b>Children:</b>
  <% if @person.children 
        @person.children.each { |child| %>
  <%=     link_to(child.name, child) %>
  <%    }
     end %>
</p>

<p>
  <b>Bio:</b>
  <%= @person.bio %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
