<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Father:</b>
  <%= link_to(@person.father.name, @person.father) if @person.father %>
</p>

<p>
  <b>Mother:</b>
  <%= link_to(@person.mother.name, @person.mother) if @person.mother %>
</p>

<p>
  <b>Bio:</b>
  <%= @person.bio %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
