<%- content_for( :head ) do -%>
<%= javascript_include_tag "jit" -%>
<%= javascript_include_tag "tree" -%>
<%= stylesheet_link_tag "jit-spacetree" -%>
<%- end -%>

<script type="text/javascript">
  $( function() {
    /* JavaScript Infovis Toolkit (JIT)
    ** =========================================================*/

    /* Initialize the JIT family tree visualization (tree.js) */
    var people = <%= strip_tags( @person.ancestry_json ) %>;
    initTree( people );
  } );
</script>

<h2><%=h @person.name %></h2>

<div id="infovis" class="ui-widget-content">
  <h3 class="ui-widget-header">Family Tree</h3>
</div>    

